server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/banking
    username: banking
    password: banking

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

